### Node ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dependencies
# ignore node_modules - everybody should install dependencies before running on localhost
node_modules/
coral.code-workspace

# terraform work files
terraform.tfstate*
.terraform/
.terraform.tfstate.lock.info

# Mac OS
.DS_Store

